.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 98vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 98vh;
}

@keyframes fadeIn{
    to{
        opacity:1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


li {
  list-style: none;
}



.headline{
  width:100%;
  position:relative
}

.headline__inner{
  width:100%;
  margin:0 auto;
  height:14px;
  position:absolute;
  border-bottom:#fff solid 2px;
  z-index: 0
}

.headline__name{
  font-size:118px;
  line-height:1em;color:#fff;
  font-family:hind vadodara,notosans-bold,sans-serif;
  font-weight:700;
  letter-spacing:-.02em;
  position:absolute;
  left:0;
  top:-22px;
  z-index:0
}

.headline__specs{
  position:absolute;
  right:0;
  bottom:0px;
  z-index:0;
  letter-spacing:0;
  font-size:0
}

.headline__specs__kanji{
  letter-spacing:normal;
  font-size:20px;
  display:inline-block;
  color:#fff;
  font-family:"Microsoft YaHei Light",sans-serif;
  font-weight:700;
  letter-spacing:.05em;
  -webkit-font-smoothing:antialiased
}

.headline.size__95 .headline__name{
  font-size:95px;
  margin-top:-71px;
}

.details{
  width:100%;
  position:relative;
  z-index:0;
  margin-top:0 
}

.details__inner{
  width:100%;
  margin:0 auto;
  padding-bottom:75px;
  padding-bottom:20vw;
  background:0 0;
  zoom:1;
  position:relative
}

.btnToru,
.btnDion {
  margin-top: -15px;
  margin-left: -15px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url(../img/monocle.png);
  background-size: contain;
  z-index:10000;
  position: absolute;
  cursor: pointer;
  }

.toruimg,
.toruimgwoglass,
.dionimg,
.dionimgwoglass {
  margin-top: -180px;
  margin-left: -100px;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 1000px;
  z-index: 1000;
}

.toruimg {
    background-image: url(../img/B5.png);
 }

 .toruimgwoglass {
  background-image: url(../img/B6.png);
}

.dionimg {
    background-image: url(../img/A5.png);
}

.dionimgwoglass {
  background-image: url(../img/A6.png);
}


@import url("https://fonts.googleapis.com/css?family=card1o:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'card1o', serif;
}

.page-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .page-content {
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
    }
}
  

.card1{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card1,
  .card2 {
    height: 300px;
  }
}

.card1:before,
.card2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card1:after,
.card2:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}

.card1:nth-child(1):before {
  background-image: url(../img/t1.png);
}

.card1:nth-child(2):before {
    background-image: url(../img/t2.png);
}

.card1:nth-child(3):before {
    background-image: url(../img/t3.png);
}

.card1:nth-child(4):before {
  background-image: url(../img/t4.png);
}

.card2:nth-child(1):before {
  background-image: url(../img/d1.png);
}

.card2:nth-child(2):before {
    background-image: url(../img/d2.png);
}

.card2:nth-child(3):before {
    background-image: url(../img/d3.png);
}

.card2:nth-child(4):before {
  background-image: url(../img/d4.png);
}

.contentcard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display:grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.contentcard > * + * {
  margin-top: 1rem;
}

.titlecard {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.copycard{
  font-family: "Microsoft YaHei";
  font-size: 12px;
  line-height: 1.65;
  margin: 0.3em;
}

@media (hover: hover) and (min-width: 600px) {
  .card1:after,
  .card2:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .contentcard {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .contentcard > *:not(.titlecard) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .card1:hover,
  .card2:hover,
  .card1:focus-within,
  .card2:focus-within {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card1:hover:before,
  .card2:hover:before,
  .card1:focus-within:before,
  .card2:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card1:hover:after,
  .card2:hover:after,
  .card1:focus-within:after,
  .card2:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card1:hover .contentcard,
  .card2:hover .contentcard,
  .card1:focus-within .contentcard,
  .card2:focus-within .contentcard  {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card1:hover .contentcard > *:not(.titlecard),
  .card2:hover .contentcard > *:not(.titlecard),
  .card1:focus-within .contentcard > *:not(.titlecard),
  .card2:focus-within .contentcard > *:not(.titlecard)  {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }
  .card1:focus-within:before, .card1:focus-within:after,
  .card2:focus-within:before, .card1:focus-within:after,
  .card1:focus-within .contentcard,
  .card2:focus-within .contentcard,
  .card1:focus-within .contentcard > *:not(.titlecard),
  .card2:focus-within .contentcard > *:not(.titlecard) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}
/*# sourceMappingURL=Untitled-1.css.map */

