@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

/*

Vanilla Template

https://templatemo.com/tm-526-vanilla

*/

p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}

body {
  position: relative;
  /* we need this for the scrollspy */
  font-size: 14px;
}

#loading {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 99;
}

#loading-image {
  position: absolute;
  z-index: 100;
}

/*----------
  NAV
----------*/

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fixed-side-navbar:hover {
  background: transparent;
}

.fixed-side-navbar:hover .nav>li>a>span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}

.fixed-side-navbar .nav>li a.active {
  background-color: transparent;
  color: black;
}

.fixed-side-navbar .nav>li a.active:after {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.fixed-side-navbar .nav>li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}

.nav>li {
  position: relative;
  display: block;
}

.fixed-side-navbar .nav>li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}

.fixed-side-navbar .nav>li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.fixed-side-navbar .nav>li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.fixed-side-navbar .nav>li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  border-right: 0;
}

.fixed-side-navbar .nav>li a:hover>span {
  color: black;
  display: block;
}

.player {
  width: 300px;
  filter: drop-shadow(2px 7px 4px rgb(0, 0, 0));
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

@media (max-width: 767px) {
  .player {
    width: 70%;
    left: 15%;
  }

}


.primary-button a {
  display: inline-block;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
  color: hsl(230, 100%, 95%);
  opacity: 70%;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.5s;
}

.primary-button a:hover {
  opacity: 100%;
}

.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.baner-content {
  padding-top: 30vh;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../img/1st-section-mono.jpg);
  transition: background-image 0.5s ease-in-out;
}

.baner-content:hover {
  background-repeat: no-repeat;
  background-image: url(../img/1st-section.jpg);
}

.baner-content h1 {
  margin-top: 0px;
  font-family: '游ゴシック';
  font-size: 78px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 0px;
  text-shadow: -2px -2px 0 #560e0e, 2px -2px 0 #360606, -2px 2px 0 #270101, 2px 2px 0 #aaaaaa;
  transition: all 0.3s ease;
}

.baner-content span {
  display: inline-block;
  font-family: 'Century Gothic';
  margin-top: 20px;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 0 #fff;
  animation: loading 1.5s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    text-shadow: 20px 0 50px #cc2525;
    color: #cc2525;
  }
}

.baner-content span:nth-child(2) {
  animation-delay: 0.1s;
}

.baner-content span:nth-child(3) {
  animation-delay: 0.2s;
}

.baner-content span:nth-child(4) {
  animation-delay: 0.3s;
}

.baner-content span:nth-child(5) {
  animation-delay: 0.4s;
}

.baner-content span:nth-child(6) {
  animation-delay: 0.5s;
}

.baner-content span:nth-child(7) {
  animation-delay: 0.6s;
}

.baner-content span:nth-child(8) {
  animation-delay: 0.7s;
}

.baner-content span:nth-child(9) {
  animation-delay: 0.8s;
}

.baner-content span:nth-child(10) {
  animation-delay: 0.9s;
}

.baner-content span:nth-child(11) {
  animation-delay: 1s;
}

.baner-content span:nth-child(12) {
  animation-delay: 1.1s;
}

.baner-content span:nth-child(13) {
  animation-delay: 1.2s;
}

.baner-content span:nth-child(14) {
  animation-delay: 1.3s;
}

.baner-content span:nth-child(15) {
  animation-delay: 1.4s;
}

.baner-content span:nth-child(16) {
  animation-delay: 1.5s;
}

.baner-content span:nth-child(17) {
  animation-delay: 1.6s;
}

.baner-content span:nth-child(18) {
  animation-delay: 1.7s;
}

.baner-content span:nth-child(19) {
  animation-delay: 1.8s;
}

.baner-content span:nth-child(20) {
  animation-delay: 1.9s;
}

.baner-content span:nth-child(21) {
  animation-delay: 2s;
}

.baner-content span:nth-child(22) {
  animation-delay: 2.1s;
}

.baner-content span:nth-child(23) {
  animation-delay: 2.2s;
}

.baner-content span:nth-child(24) {
  animation-delay: 2.3s;
}

.baner-content span:nth-child(25) {
  animation-delay: 2.4s;
}

.baner-content span:nth-child(26) {
  animation-delay: 2.5s;
}

.baner-content span:nth-child(27) {
  animation-delay: 2.6s;
}

.baner-content span:nth-child(28) {
  animation-delay: 2.7s;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}

.toru-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.dion-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.about-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10vh;
  background-image: url(../img/3rd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

@media (prefers-reduced-motion: no-preference) {
  .right-text-animation {
    animation: slide-in-anim 1s ease;
  }
}

@keyframes slide-in-anim {
  0% {
    transform: translateY(10vh);
  }

  100% {
    transform: translateY(0);
  }
}

.about-content .right-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.about-content .right-text .line-dec {
  width: 31%;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px 0px 20px 0px;
}

.about-content .right-text p {
  font-weight: 600;
  color: #fff;
}

.about-content .right-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.about-content .right-text ul li {
  text-align: center;
  margin: 15px 0px;
  color: #fff;
}

.story-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5vh;
  background-image: url(../img/4th-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

@media (max-width: 767px) {
  .tabs li {
    margin: 1px;
  }
}

.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid #fff;
  min-width: 150px;
}

.tabs a:hover {
  color: #ffe3b8;

}

.tabs .active {
  border: 3px solid #ffe3b8;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

HTML CSS JSResult Skip Results Iframe
/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.album-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-image: url(../img/6th-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.albumcontainer {
  height: 45%;
  width: 85%;
  top: 60px;
  margin: 5%;
  left: 10%;
  display: flex;
}

.wardrobe {
  display: flex;
  height: 303px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  border: white solid 2px;
  filter: blur(1.5px);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.20);
}

.wardrobe:not(:first-child) {
  margin-left: -100px;
}

.wardrobe:nth-last-child(1) {
  filter: blur(0px);
}

.wardrobe:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  filter: blur(0px);
  background-color: rgba(0, 0, 0, 0.0);
}

.wardrobe:hover~.wardrobe {
  position: relative;
  left: 105px;
  transition: 0.4s ease-out;
}

.wardrobe:hover~.wardrobe:nth-last-child(1) {
  filter: blur(1.5px);
}

.wardrobetitle {
  color: rgb(45, 6, 6);
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: 20px;
  bottom: 10px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#alb1 .wardrobe:nth-child(1) {
  background-image: url("../img/wardrobe_1.png");
}

#alb1 .wardrobe:nth-child(2) {
  background-image: url("../img/wardrobe_2.png");
}

#alb1 .wardrobe:nth-child(3) {
  background-image: url("../img/wardrobe_3.png");
}

#alb1 .wardrobe:nth-child(4) {
  background-image: url("../img/wardrobe_4.png");
}

#alb1 .wardrobe:nth-child(5) {
  background-image: url("../img/wardrobe_5.png");
}

#alb1 .wardrobe:nth-child(6) {
  background-image: url("../img/wardrobe_6.png");
}

#alb1 .wardrobe:nth-child(7) {
  background-image: url("../img/wardrobe_7.png");
}

#alb1 .wardrobe:nth-child(8) {
  background-image: url("../img/wardrobe_8.png");
}

#alb2 .wardrobe:nth-child(1) {
  background-image: url("");
}

#alb2 .wardrobe:nth-child(2) {
  background-image: url("");
}

.info-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.info-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}

footer {
  text-align: center;
  background-image: url(../img/footer.jpg);
  padding: 250px 0px 150px 0px;
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer .primary-button {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

footer .primary-button h2 {
  margin: auto;
  font-size: 2.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 10px 10px;
}

footer ul li a {
  width: 50px;
  height: 64px;
  text-align: center;
  display: inline-block;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #771616;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 767px) {

  .baner-content {
    padding-top: 30vh;
    background-position-x: 81%;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content span {
    font-size: 24px;
  }

  .toru-content,
  .dion-content,
  .about-content,
  .story-content,
  .album-content,
  footer {
    background-attachment: scroll;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container>.nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}